<%= render "shared/header" %>
<div class="users-container">
  <% @users.each do |user| %>
    <%= link_to user_path(user), :class => 'user-button' do %>
      <div class="user-card">
         <img src="<%= user.photo %>" class="user-image" alt="user-image">
        <div class="user-data">
          <h1><%= user.name %></h1>
          <span>Number of posts: <%= user.posts_counter %></span>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
