<div class="users-container">
  <%= render "shared/user_data" %>
    <div class="user-bio">
      <span>Bio</span>
      <p><%= @user.bio %></p>
    </div>
    <div class="posts-container">
      <% @user.latest_posts.each_with_index do |post, index| %>
        <div class="post-card">
          <div>
            <h2>Post: <%= index + 1 %></h2>
            <p>Title: <%= post.title %></p>
            <p><%= post.text %></p>
          </div>
          <div>
            <span>Comments: <%= post.comments_counter %></span>
            <span>Likes: <%= post.likes_counter %></span>
          </div>

        </div>
      <% end %>
        <%= link_to "<button>See All Posts</button>".html_safe, post_path_url(@user), :class => 'post-button' %>
        <%= link_to "<button>Create a new Post</button>".html_safe, new_post_path, :class => 'post-button' %>
    </div>
</div>