<h1>Here is a list of posts for a given post</h1>
<section>
  <div class='container-photo-name-counter-post'>
    <div class='photo-post'>
        <img src="<%= @user.photo%>"/>
    </div>
    <div class='name-post-counter-post'>
        <h2 class='user-name-posts'> <%= @user.name %></h2>
        <span class='number-post-posts'>Number of posts: <%= @user.posts.count%></span>
    </div>
  </div>
    <%@user.posts.each do |post|%>
    <%= link_to user_post_path(@user, post) do%>
    <div class='container-id-text-counter-posts'>
      <div>
        <h3>Post #<%=post.id%></h3>
        <div>
          <p><%=post.text%></p>
          <span class='number-counter-posts'>Comments: <%=@user.comments.count%> Likes: <%=@user.likes.count%></span>
        </div>
        <div>
          <h3>List of Comments</h3>
          <%post.recent_comments.each do |comment|%>
          <p><%=comment.author.name%>: <%=comment.text%></p>
          <%end%>
       </div>
      </div>
  </div>
  <%end%>
<%end%>
</section>