 <%= render "shared/user_data"%>
 <div class="posts-container">
  <% @posts.each_with_index do |post, index| %>
    <%= link_to post_show_path(:id => post.id) do %>
      <div class="post-card">
        <div>
          <h2>Post <%= index + 1 %></h2>
          <p>Title: <%= post.title %></p>
          <p><%= post.text %></p>
        </div>
        <div class="post-counter">
          <span>Comments: <%= post.comments_counter %></span>
          <span>Likes: <%= post.likes_counter %></span>
        </div>
      </div>
      <div class="comments-container">
        <% @comments.each do |comment| %>
          <% if comment.post_id == post.id %>
          <h4>Post_ID:<%=  comment.post_id %>:<%= comment.text %></h4>
          <%end%>
        <% end %>
      </div>
    <% end %>
  <% end %>
 </div>