<h1>Posts INDEX</h1>

<div class="App">
 
     <div class="users">
      <img src=<%=@user.photo%>>
      <%= @user.name %><br>
      Number of posts: <%= @user.posts.count%><br>
    </div> 

    <div class ="posts-section">
        <h2> My Posts </h2>
        <%@user.latest_posts.each do |post|%>
        <%= link_to user_post_path(@user, post) do%>
            <div class='post'>
                <h4> Post # <%= post.id %> </h4>
                <h4> Text: <%= post.text %> </h4>
                <p> 
                    Comments Counter :<%=post.comments_counter%>
                    Likes Counter :<%=post.likes_counter %>
                </p>

                <div class="comments">
                    <h3>Comments</h3>
                    <%post.recent_comments.each do |comment|%>
                        <p><%=comment.author.name%>: <%=comment.text%></p>
                    <%end%>
                </div>
            </div>
        <% end %>    
        <% end %>
    </div>
     <%=link_to user_posts_path(@user) do%>
        <button>Pagination</button>
     <% end %>   
  
</div>